<nav id="verticalNavigation">
  <ul id="vertical">
    <li><a href="/index">Home</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contactUs">Contact Us</a></li>
  </ul>
</nav>
